body{
    background: #ffe450;
    font-family: "Segoe UI", serif;
}

div{
    color: darkgreen;
    font-weight: bold;
    font-size: 12px;
    padding-left: 20px;
}

p{
    color: seagreen;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
